
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family:  sans-serif;
    color: black;
}

.container {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightpink;
}

.btn {
    background-color: hotpink;
    border: none;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.btn:hover {
    transform: scale(1.1);
    background-color:lightseagreen;
}

